<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mtjava.smsadminlite.mapper.RedPacketRecordMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO red_packet_record (red_packet_id, user_id, user_name, amount_cents, grabbed_at)
        VALUES (#{redPacketId}, #{userId}, #{userName}, #{amountCents}, #{grabbedAt})
    </insert>

    <select id="selectByRedPacketId" resultType="com.mtjava.smsadminlite.model.RedPacketRecord">
        SELECT id, red_packet_id, user_id, user_name, amount_cents, grabbed_at
        FROM red_packet_record
        WHERE red_packet_id = #{redPacketId}
        ORDER BY grabbed_at DESC
    </select>

</mapper>
